/* Zorgt ervoor dat de pagina het scherm vult */
* {
    margin: 0;
    padding: 0;
  }

.contact-container {
    display: flex;
    background-color: #EDE5BB;
    width: 100%;
    height: 100vh;
}

.contact-header{
    display: flex;
    align-items: center;
    font-family: "Caveat", serif;
    margin-left: 600px;
    margin-bottom: 40%;
    font-size: 120px;
    color: #95261F;
}

.contact-information {
    display: flex;
    align-items: center;
    margin-left: -700px;
    font-size: 20px;
    font-family: 'circularstd', sans-serif;
    color: #95261F;
}

.maps-area {
    display: flex;
    align-items: absolute;
    border: 5px solid #95261F;
    height: 350px;
    width: 515px;
    background-color: white;
    margin-top: 200px;
    margin-left: 250px;
}


@font-face {
    font-family: 'circularstd';
    src: url('Fonts/Circularstd.otf') format('opentype');
}