
* {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #EDE5BB;
    padding: 0 20px;
}

body{
    background-color: #EDE5BB;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.header-links {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}

img.logo {
    width: 100px;
    height: 56px;
}

.header-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-container ul li {
    margin-right: 70px;
}

.header-container a {
    text-decoration: none;
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 25px;
    color: #95261F;
}

.header-container a:hover {
    color: white;
}

.home {
    display: flex;
    background-color: #fff;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background-image: url("../photos/pexels-chevanon-photography-302894.jpg");
    background-size: cover;
    background-position: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border: 5px solid #BAD3EE;
    color: white;
    background: rgba(217, 217, 217, 0.06);
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 100px;
}

/* slide animation */

* {
    margin: 0;
    padding: 0;
}

#container-slider {
    display: grid;
    grid-template-columns: 15% 32.5% 5% 32.5% 15%;
    grid-template-rows: 5% 80% 60%;
}

#slider1 {
    grid-row: 2;
    grid-column: 2 / 3;
    overflow: hidden;
    border: 3px solid #95261F;
}

#slider1 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider1 figure img {
    width: 20%;
    height: 25%;
    object-fit: cover;
    float: left;
}

#slider2 {
    grid-row: 2;
    grid-column: 4 / 5;
    overflow: hidden;
    border: 3px solid #95261F;
}

#slider2 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider2 figure img {
    width: 20%;
    height: 35%;
    object-fit: cover;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* end slide animation */
