@font-face {
    font-family: 'Circular Std';
    src: url(../Fonts/Circularstd.otf);
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #EDE5BB;
    padding: 0 20px;
    z-index: 999;
}

body{
    background-color: #EDE5BB;
    color: #95261F;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.header-links {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
}

img.logo {
    width: 100px;
    height: 56px;
}

.header-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-container ul li {
    margin-right: 70px;
}

.header-container a {
    text-decoration: none;
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 25px;
    color: #95261F;
}

.header-container a:hover {
    color: white;
}

.home {
    display: flex;
    background-color: #fff;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100%;
    background-image: url("../photos/pexels-chevanon-photography-302894.jpg");
    background-size: cover;
    background-position: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border: 5px solid #BAD3EE;
    color: white;
    background: rgba(217, 217, 217, 0.06);
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 100px;
}

/* slide animation */

* {
    margin: 0;
    padding: 0;
}

#container-slider {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 15% 32.5% 5% 32.5% 15%;
    grid-template-rows: 5% 80% 60%;
}

#slider1 {
    grid-row: 2;
    grid-column: 2 / 3;
    overflow: hidden;
    border: 3px solid #95261F;
}

#slider1 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider1 figure img {
    width: 20%;
    height: 25%;
    object-fit: cover;
    float: left;
}

#slider2 {
    grid-row: 2;
    grid-column: 4 / 5;
    overflow: hidden;
    border: 3px solid #95261F;
}

#slider2 figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider2 figure img {
    width: 20%;
    height: 35%;
    object-fit: cover;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: 0%;
    }
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.review-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    justify-content: center;
}

.review-container p h1 {
    font-family: "Circular Std";
}

.review1 {
    padding: 20px;
    margin-right: 100px;
    border-radius: 8px;
    text-align: center;
    border-radius: 15px;
    border-color: #95261F;
    border-style: solid;
    border-width: 8px;
    width: 318px;
    height: 468px;
    font-size: 20px;
    font-family: "Circular Std";
}
.review2 {
    padding: 20px;
    margin-left: 100px;
    border-radius: 8px;
    text-align: center;
    border-radius: 15px;
    border-color: #95261F;
    border-style: solid;
    border-width: 8px;
    width: 318px;
    height: 468px;
    font-size: 20px;
    font-family: "Circular Std";
}
/* end slide animation */
.about-us-container{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;   
}
.about-us-title p{
    font-size: 40px;
    font-family: "Caveat";
}
.about-us{
    width: 70%;
    margin-top: 25px;
    font-family: "Circular Std";
}
