.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.5vw; /* Opmerking: gewijzigd van "96,5vw" naar "96.5vw" (komma naar punt) */
    margin: 0 auto;
    padding: 0 20px;
    background-color: #EDE5BB;
}


img.logo {
    width: 100px;
}

.header-container ul {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

.header-container ul li {
    margin-right: 30px; 
}

.header-container a {
    text-decoration: none;
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 18px; 
    color: #95261F;
}

.header-container a:hover {
    color: white;
}

.home   {
display: flex;
background-color: #fff;
padding: 60px 0;
text-align: center;
margin: 20px;
height: 500px;
width: 97%;
background-image: url("photos/pexels-chevanon-photography-302894.jpg");
background-size: cover;
background-position: center;


}

.home-content {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border: 5px solid #BAD3EE;
    color: white;
    background: rgba(217, 217, 217, 0.06);
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 100px;

}




