/* Algemene stijlreset */
* {
    margin: 0;
    padding: 0;
}

/* Lettertype */
@font-face {
    font-family: 'Circular Std';
    src: url(../Fonts/Circularstd.otf);
}


/* Algemene stijlen */
html {
    scroll-behavior: smooth;
}

.menu-container{
    margin-top: 90px;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
    font-family: 'Caveat';
}
.menu-kaart {
    display: flex;
    justify-content: space-evenly;
}

.title-food {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Caveat';
    font-weight: bold;
}

.Pain-Croissant {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
    font-family: 'Caveat';
    font-size: 25px;
    font-weight: bold;
}


.Pain-list {
    display: flex;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
    margin-top: 10px;
}

.price-list {
    margin-left: 50px;
}
.sweets-container{
    margin-top: 50px;
}
.Pain-Croissant .sweets-list {
    display: flex;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
    margin-top: 15px;
}

.sweets-price{
    margin-left: 105px;
}
.title-drink{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Caveat';
    font-weight: bold;
}
.coffee-tea{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
}
.coffee-tea p{
    font-size: 20px;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 25px;
}
.coffee-tea-list{
    display: flex;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
    margin-top: 10px;
}
.drinks-price-list{
    margin-left: 100px;
}
.cool-drinks{
    margin-top: 128px;
}
.cool-drink-list{
    display: flex;
    align-items: flex-start; /* Voeg deze regel toe om items links uit te lijnen */
    margin-top: 10px;
    font-size: 19px;
}
.cool-drink-price{
    margin-left: 35px;
}

/* Stijl voor de lijsten */
ul {
    list-style: none;
}

ul li {
    font-family: 'Caveat';
    font-size: 19px;
    font-weight: bold;
}
.img_croissant{
    position: absolute;
    z-index: -1;
    width: 250px;
    opacity: 0.5;
}
.img_merengue{
    position: absolute;
    z-index: -1;
    width: 250px;
    opacity: 0.5;
}
.img_coffee{
    position: absolute;
    z-index: -1;
    width: 220px;
    opacity: 0.5;
}
.img_tea{
    position: absolute;
    z-index: -1;
    width: 220px;
    opacity: 0.5;
}


