@font-face {
    font-family: 'Circular Std';
    src: url(./fonts/circular-std-medium-500.ttf);
}
*{
    font-family: "Circular Std";
}
body {
    background-color: #EDE5BB;
    color: #95261F;
}
.review-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.review1 {
    padding: 20px;
    margin-right: 100px;
    border-radius: 8px;
    text-align: center;
    border-radius: 15px;
    border-color: #95261F;
    border-style: solid;
    border-width: 8px;
    width: 318px;
    height: 468px;
    font-size: 20px;
}
.review2 {
    padding: 20px;
    margin-left: 100px;
    border-radius: 8px;
    text-align: center;
    border-radius: 15px;
    border-color: #95261F;
    border-style: solid;
    border-width: 8px;
    width: 318px;
    height: 468px;
    font-size: 20px;
}