/* Zorgt ervoor dat de pagina het scherm vult */
* {
    margin: 0;
    padding: 0;
  }

.contact-container {
    display: flex;
    justify-content: absolute;
    background-color: #EDE5BB;
    width: 100%;
    height: 100vh;
}

.contact-header{
    display: flex;
    align-items: absolute;
    font-family: "Caveat", serif;
    margin-left: 600px;
    margin-bottom: 40%;
    font-size: 120px;
    color: #95261F;
}

.contact-information {
    display: flex;
    align-items: center;
    margin-left: -700px;
    font-size: 20px;
    font-family: 'circularstd', sans-serif;
    color: #95261F;
}

.maps-area {
    align-items: absolute;
    border: 5px solid #95261F;
    height: 350px;
    width: 515px;
    background-color: white;
    margin-top: 200px;
    margin-left: 250px;
}

.openingstijden{
    display: flex;
    justify-content: absolute;
    align-items: right;
    font-size: 20px;
    font-family: 'circularstd', sans-serif;
    margin-top: 28.8%;
}


@font-face {
    font-family: 'circularstd';
    src: url('Fonts/Circularstd.otf') format('opentype');
}

#mymap{
    position:relative;
    width:600px;
    height:400px;
}

@media screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-header {
      font-size: 60px;
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .contact-information {
      font-size: 16px;
      margin-left: 0;
    }
  
    .maps-area {
      width: 100%;
      max-height: 60vh;
      max-width: 80%;
      margin-left: 10px;
      min-height: 250px; 
    }
    .openingstijden{
      font-size: 16px;
      margin-top: -125px;
      margin-left: 150px;
  }
  }