*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDE5BB;
}

#menu_head{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: "caveat", serif;
    color: #95261F;
}
#container_full{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    color: #95261F;
    font-family: "caveat", serif;
}
#container_1{
    height: 1000px;
    width: 422px;
}

.menu_1{
text-align: center;
font-size: 64px;
font-weight: 700;
text-decoration: underline;
}

.submenu_title_top{
    font-size: 48px;
    font-weight: 500;
    height: 125px;
}
.submenu_title_bottom{
    font-size: 48px;
    font-weight: 500;
}
#submenu_top{
    display: flex;
    flex-direction: row;
    height: 500px;
}
#submenu2_top{
    display: flex;
    flex-direction: row;
    height: 460px;
}
#submenu2_bottom{
    display: flex;
    flex-direction: row;
    height: 260px;
}
#submenu_bottom{
    display: flex;
    flex-direction: row;
    height: 260px;
}
.submenu_1_items{
    font-size: 32px;
    font-weight: 400;
    width: 300px;
    position: relative;
    z-index: 1;
}

.submenu_1_items img{
    position: absolute;
    top: 0;
    left: -150px;
    z-index: -1;
    transform: rotate(-30deg);
    margin-top: 20px;
}
.submenu_1_prices{
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

#container_2{
    height: 1000px;
    width: 422px;
}

.menu_2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;
}

.submenu_2_items{
    font-size: 32px;
    font-weight: 400;
    width: 300px;
    position: relative;
    z-index: 1;
}

.submenu_2_items img{
    position: absolute;
    top: 0;
    left: -80px;
    z-index: -1;
    transform: rotate(15deg);
    margin-top: -50px;
}
.submenu_2_prices{
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.submenu_3_items{
    font-size: 32px;
    font-weight: 400;
    width: 300px;
    position: relative;
    z-index: 1;
}

.submenu_3_items img{
    position: absolute;
    top: 0;
    left: -30px;
    z-index: -1;
    transform: rotate(-15deg);
    margin-top: -50px;
}
.submenu_3_prices{
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.submenu_4_items{
    font-size: 32px;
    font-weight: 400;
    width: 300px;
    position: relative;
    z-index: 1;
}

.submenu_4_items img{
    position: absolute;
    top: 0;
    left: 55px;
    z-index: -1;
    transform: rotate(15deg);
    margin-top: -120px;
}
.submenu_4_prices{
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}